{% extends 'base.html' %} {% load static %} {% block meta %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/applyEvent.css' %}"
/>
{% endblock %} {% block title %}
dionisiusamudra | schedule detail {% endblock %}
<!-- -->
{% block content %}
<div class="detail-container" style="height: 75vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="detail-title" style=" margin-bottom: 2.5rem;">{{ applyEve.event }}</div>
    <form class="addSchedule" action="#" method="POST">
      {% csrf_token %} {{ form.as_table }}
      <input type="submit" value="ADD" />
    </form>
</div> 
{% endblock %}