{% extends 'base.html' %} {% load static %} {% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}" />
{% endblock %} {% block title %} dionisiusamudra | gallery {% endblock %}
<!-- -->
{% block content %}
<div class="page-title">
  <div class="text">Gallery</div>
  <div class="mini-text">ギャラリー</div>
</div>
<div class="galleryContainer">
  <div class="photos">
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/s1.jpg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/p2k.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/l3.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/s4.jpg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/p5.jpeg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/l6.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/s7.jpg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/p8k.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/l9.jpg'%}" />
    </div>
  </div>
  <div class="photos">
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/p1.jpeg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/l2.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/s3.jpg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/p4k.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/l5.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/s6.jpg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/p7.jpg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/l8.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/s9.jpg'%}" />
    </div>
  </div>
  <div class="photos">
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/l1.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/s2.jpg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/p3k.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/l4.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/s5.jpg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/p6.jpg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/l7.JPG'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/s8.jpg'%}" />
    </div>
    <div class="image">
      <img width="100%;" src="{% static 'images/gallery/p9k.JPG'%}" />
    </div>
  </div>
</div>
{% endblock %}
